<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url}}/css/style.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark py-4 ">
        <div class="container">
            <a class="navbar-brand d-flex justify-content-between align-items-center order-lg-0"
                href="/admin/adminhome">
                <h2 class="text-white">Admin :)</h2>
                <a href="/admin/adminlogout">
                    <h2 class="text-white">chiqish</h2>
                </a>
                <span class="text-uppercase fw-lighter ms-2"></span>
            </a>


            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse order-lg-1" id="navMenu">
                <ul class="navbar-nav mx-auto text-center">
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link text-uppercase text-white" href="/admin/adminhome">home</a>
                    </li>

                    <li class="nav-item px-2 py-2">
                        <a class="nav-link text-uppercase text-white" href="{{url}}admin/adminshop">Shop</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link text-uppercase text-white" href="{{url}}admin/adminrivew">Review</a>
                    </li>
                    <li class="nav-item px-2 py-2">
                        <a class="nav-link text-uppercase text-white" href="{{url}}admin/adminpostComments">Comments</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
   


    <!-- Modal -->
    {{!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" style="border:none; background: transparent;" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                         <i class="bi bi-x-circle-fill text-danger ">  </i>
                    </button>
                </div>
                <div class="modal-body">
                  <form id="save" method="post" action="/admin/addimagetocarousel" enctype="multipart/form-data">
                    <input type="file" name="carouselImage1" class="form-control ">
                    <input type="file" name="carouselImage2" class="my-2 form-control ">
                    <input type="file" name="carouselImage3" class="form-control ">
                    <button>sda</button>
                  </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">remove</button>
                    <button type="button" form="save" class="btn btn-success">Save changes</button>
                </div>
            </div>
        </div>
    </div> --}}
    <section id="collection" class="py-5">
        <div class="container">
            <div class=" text-center">
                <h2 class="position-relative d-inline-block">New Collection</h2>
            </div>
        
            <div class="row  text-center">
                {{#if allProduct}}
                {{#each allProduct}}
                <div class="col-lg-3   text-center" style="
                width: 100%;
                min-height: 450px;
                background-color: white;
                margin-top:70px;
                margin-bottom:30px;
                ">
                    <img src="{{url}}{{image}}" class="w-100" alt="" style="object-fit: contain; height:250px ;">
                    <h3 class="my-3">{{productName}}</h3>
                    <h5 class="">{{amount}}so'm</h5>
                  
                    <button class="btn btn-warning"> <a class=" p-2 text-white" href="{{url}}/admin/adminshopupdate/{{_id}}">Update</a></button>
                    <button class="btn btn-danger"><a href="{{url}}/admin/adminonepage/{{_id}}" class="text-white">remove</a></button>
                </div>
                {{/each}}
                {{else}}
                <h1>Maxsulot topilmadi</h1>
                {{/if}}
            </div>
        </div>
    </section>
</body>